@color-pink: #EB9385;
@color-bedge: #F5EEDB;
@color-white-green: #99C0BC;
@color-white-purple: #937782;
@color-dark-green: #2D4249;


body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: @color-white-green;
}

.header-wrapper {
  background-color: #30454d;
}

.header-wrapper {
  position: relative;
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/7b8d90ff-3cad-415c-bad5-b2d74ce4126c/565b3bff-e6fe-4d42-90a9-83bd632f97d3/NL-en-20190128-popsignuptwoweeks-perspective_alpha_website_small.jpg");

  &:after {
    background: rgba(0,0,0,.5);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.footer,
.header {
  max-width: 1200px;
  padding: 20px;
  color: @color-pink;
  font-size: 16px;
  text-transform: lowercase;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.footer {
  max-width: 100%;
  background-color: @color-dark-green;
}
