.movie-container {
  max-width: 1200px;
  display: flex;
}

.movie-poster {
  flex: 1;
  margin-right: 10px;
}

.movie-content {
  width: 65%;
  color: white;
}

.movie-metadata {
  margin-bottom: 10px;

  span {
    margin-right: 40px;
  }
}
